* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  overflow: auto;
}

body {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main-content"
    "sidebar main-content"
    "sidebar main-content"
    "sidebar main-content";
  font-family: "Sen", sans-serif;
}
.sidebar {
  background-color: #2b8bff;
  grid-area: sidebar;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 3fr 4fr;
  padding: 18px;
}
.dashboard-icon {
  width: 50px;
}

.logo {
  width: 25px;
}

.dashboard-title {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: bold;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 4%;
}
.user-menu,
.admin-menu {
  list-style-type: none;
}

ul.user-menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 43px);
  align-items: start;
  position: relative;
  top: 10%;
  padding-left: 6.5%;
}
ul.admin-menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 43px);
  align-items: start;
  position: relative;
  top: -25%;
  padding-left: 6.5%;
}

.user-menu li,
.admin-menu li {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  gap: 8%;
}

.user-menu li,
.admin-menu li {
  display: grid;
  grid-template-columns: auto 1fr;
}

.header {
  background-color: rgb(254, 254, 255);
  grid-area: "header";
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr 3fr;
  gap: 0 10px;
  padding: 0.5em 50px;
}

.main-content {
  background-color: rgba(117, 120, 117, 0.377);
  grid-area: "main-content";
  padding: 2em 1.5em;
  display: grid;
  grid-template-rows: auto 1fr 1fr 1fr;
  grid-template-columns: 5fr 1.5fr;
}

.lbl {
  display: flex;
  justify-content: center;
  align-items: center;
}

input#search {
  border-radius: 25px;
  width: 42vw;
  height: 4vh;
  background-color: rgba(114, 117, 117, 0.342);
  border: none;
  outline: none;
  padding: 8px 10px;
  font-size: 1.2rem;
  font-weight: 400;
}

.search-logo,
.bell-logo {
  width: 30px;
}
.octopus-logo {
  border: 1px solid black;
  border-radius: 50%;
  width: 40px;
  transform: rotate(-25deg);
}
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4%;
}
.login-container span {
  font-weight: bold;
}
.welcome-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5%;
}
.welcome-text {
  display: flex;
  flex-direction: column;
}
.welcome-text small {
  font-weight: 400;
  font-size: 1.2rem;
}
.welcome-text span {
  font-weight: bold;
  font-size: 1.5rem;
}

.welcome-logo {
  width: 60px;
}
.buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 1em;
  align-items: center;
}

.buttons-container > * {
  min-width: 6vw;
  height: 4vh;
  border: none;
  background-color: #2b8bff;
  color: #ffffff;
  font-weight: bold;
  border-radius: 25px;
  padding: 8px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1vw;
}

.projects-container {
  grid-column: 1/2;
  grid-row: 2 / span 3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.card {
  border-radius: 10px;
  background-color: #ffffff;
  display: grid;
  grid-template-rows: auto 1fr auto;
  border-left: 8px solid orange;
  line-height: 1.2;
  padding: 1.5em 0.8em;
}
.card p {
  text-align: left;
}
.icons-container {
  width: 100%;
  padding-top: 1em;
  display: flex;
  justify-content: end;
  gap: 1.5em;
}

.card-icon {
  display: grid;
  width: 25px;
  justify-self: end;
}

.projects-title-container,
.annoucements-title-container {
  padding-bottom: 1em;
}
.annoucements-title {
  margin-left: 1.5em;
}

.annoucements-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  padding: 1em;
  background-color: #ffffff;
  border-radius: 8px;
  margin-left: 1.5em;
  width: 18vw;
}
.annoucements-container h4 {
  padding-top: 1em;
}
.annoucements-card:nth-child(1),
.annoucements-card:nth-child(2) {
  border-bottom: 2px solid rgba(128, 128, 128, 0.547);
}

.trending-title-container {
  display: flex;
  flex-direction: column;
  padding-left: 1.5em;
  padding-top: 1em;
}
.trending-container {
  display: grid;
  position: relative;
  top: -85%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4,1fr);
  margin-left: 1.5em;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 1em;
  width: 18vw;
}

.avatar{
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.trending-card{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: .8em;
}
